* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.btn {
    font-family: "DM Mono", monospace;
    padding: 0.5rem 1rem;
    background: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .logo {
    font-family: "Righteous", cursive;
    font-size: 1rem;
    line-height: 0.75;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
    text-shadow: #000 2px 2px 4px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

canvas {
    touch-action: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.h-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: center;
    z-index: 10;
    font-family: "DM Mono", monospace;
    text-transform: uppercase;
    color: #000;
    font-size: 0.9rem;
    padding: 0 1rem;
}

.h-footer {
    font-size: 0.8rem;
    opacity: 0.7;
}

.h-footer .sec-p {
    text-align: left;
    font-size: 0.8rem;
    /* opacity: 0.7; */
}

@media (max-width: 600px) {

    canvas {
        background-size: cover;
        background-position: center;
    }
    .h-footer {
        color: aliceblue;
        flex-direction: column;
        gap: 5px;
        bottom: 10px;
    }
    
    .h-footer .sec-p {
        text-align: center;
    }
}