* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    background-color: navy;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    padding: 20px;

}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 30px;
}

.b-2 {
    background-color: goldenrod;
    /* margin-left: 50px; */
}

.b-3 {
    background-color: blue;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-style: italic;
    color: seagreen;
    font-weight: 600;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.link {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    /* padding-bottom: 4px; */
}

.link:hover {
    border-bottom: 1px solid greenyellow;
    padding-bottom: 2px;
    color: greenyellow;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.title h3 {
    font-size: 40px;
}

.contents p{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

p,
h4 {
    margin-bottom: 5px;
}