* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1vw;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

a:not(.logo a)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

a:not(.logo):hover::after {
    transform: scaleX(1);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 10vw;
    line-height: 90%;
    /* font-family: 'Courier New', Courier, monospace; */
    /* Add font ppm */
}

span {
    transform: scaleY(-1);
    display: inline-block;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

/* ----------- Tansition style ------------*/
.transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
    pointer-events: none;
}

.transition-row {
    flex: 1;
    display: flex;
}

.transition-row.row-1 .block {
    transform-origin: top;
}

.transition-row.row-2 .block {
    transform-origin: bottom;
}

.block {
    flex: 1;
    background-color: black;
    transform: scaleY(1);
    will-change: transform;
}