* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono";
    overflow-x: hidden;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    overflow: hidden;
}

.intro,
.outro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    background-color: #ebeae4;
    color: #0f0f0f;
}

.outro {
    background-color: #eb4330;
    color: #0f0f0f;
}

.sticky {
    background-color: #0f0f0f;
}

.sticky p {
    color: #0f0f0f;
}

.char {
    display: inline-block;
    position: absolute;
    opacity: 0;
}