* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3e3db;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    border-radius: 8px;
}

h1 {
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 0.9;
}

p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 40px;
}

section {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.intro,
.outro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards {
    min-height: 100vh;
    height: max-content;
    padding-bottom: 100px;
}

.awards-list {
    border-top: 1px solid #000;
    width: 100%;
}

.award {
    height: 80px;
    position: relative;
    overflow: hidden;
}

.award-wrapper {
    position: relative;
    height: 240px;
    will-change: transform;
    transform: translateY(-160px);
}

.award-name,
.award-project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 20px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    transition: background-color 0.3s ease;
}

.award-name {
    background-color: #e3e3db;
    color: #000;
}

.award-project {
    background-color: #000;
    color: #e3e3db;
}

.award h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.award-preview {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 300px;
    height: 200px;
    z-index: 2;
    pointer-events: none;
    border-radius: 8px;
    overflow: hidden;
}